<div id="ChatBoxSettings">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button
				class="base"
				data-background="basic_interface/sys_base_off.bmp"
				data-hover="basic_interface/sys_base_on.bmp"
			></button>
			<span class="title"><span class="tabname"></span> 消息记录设置</span>
		</div>
		<div class="right">
			<button
				class="base close"
				data-background="basic_interface/sys_close_off.bmp"
				data-hover="basic_interface/sys_close_on.bmp"
			></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="panel" data-background="basic_interface/chatwin1_mid.bmp">
		<div class="content resize">
			<div class="listoption">
				<button data-id="0" data-background="basic_interface/grp_offline.bmp" data-text="1291">
					公共记录
				</button>
				<button data-id="1" data-background="basic_interface/grp_offline.bmp" data-text="1277">
					公共聊天
				</button>
				<button data-id="2" data-background="basic_interface/grp_offline.bmp" data-text="1278">私聊</button>
				<button data-id="3" data-background="basic_interface/grp_offline.bmp" data-text="1279">队伍</button>
				<button data-id="4" data-background="basic_interface/grp_offline.bmp" data-text="1280">公会</button>
				<button data-id="5" data-background="basic_interface/grp_offline.bmp" data-text="1281">物品</button>
				<button data-id="6" data-background="basic_interface/grp_offline.bmp" data-text="1282">
					装备开关
				</button>
				<button data-id="7" data-background="basic_interface/grp_offline.bmp" data-text="1283">
					异常状态
				</button>
				<button data-id="8" data-background="basic_interface/grp_offline.bmp" data-text="1284">
					队伍物品
				</button>
				<button data-id="9" data-background="basic_interface/grp_offline.bmp" data-text="1285">
					队伍状态
				</button>
				<button data-id="10" data-background="basic_interface/grp_offline.bmp" data-text="1286">
					技能失败
				</button>
				<button data-id="11" data-background="basic_interface/grp_offline.bmp" data-text="1287">
					队伍设置
				</button>
				<button data-id="12" data-background="basic_interface/grp_offline.bmp" data-text="1288">
					装备损坏
				</button>
				<button data-id="13" data-background="basic_interface/grp_offline.bmp" data-text="1289">城战</button>
				<button data-id="14" data-background="basic_interface/grp_offline.bmp" data-text="1549">
					队伍搜索
				</button>
				<button data-id="15" data-background="basic_interface/grp_offline.bmp" data-text="1618">战斗</button>
				<button data-id="16" data-background="basic_interface/grp_offline.bmp" data-text="1619">
					队伍战斗
				</button>
				<button data-id="17" data-background="basic_interface/grp_offline.bmp" data-text="1620">经验值</button>
				<button data-id="18" data-background="basic_interface/grp_offline.bmp" data-text="1621">
					队伍经验值
				</button>
				<button data-id="19" data-background="basic_interface/grp_offline.bmp" data-text="1622">任务</button>
				<button data-id="20" data-background="basic_interface/grp_offline.bmp" data-text="1623">
					战场
				</button>
				<button data-id="21" data-background="basic_interface/grp_offline.bmp" data-text="2365">氏族</button>
				<!--<button data-id="22" data-background="basic_interface/grp_offline.bmp" data-text="">Call</button>-->
			</div>
			<div class="clear"></div>
			<div class="footer-opt">全部开启</div>
		</div>
	</div>
	<button class="extend"></button>
</div>
