<div id="GuildCompanion">
	<div class="win companion">
		<div class="titlebar">
			<ui-image src="basic_interface/titlebar_mid.bmp"></ui-image>
			<span class="title">公会助手</span>
			<div class="right">
				<ui-button
					class="base btn_x"
					bg="basic_interface/sys_close_off.bmp"
					hover="basic_interface/sys_close_on.bmp"
				></ui-button>
			</div>
			<div class="clear"></div>
		</div>
		<div class="body">
			<div class="msg">加入公会或创建自己的公会！</div>
			<div class="btns">
				<button class="btn btn_create" type="button">创建公会</button>
				<button class="btn btn_close" type="button">确定</button>
			</div>
		</div>
	</div>
	<div class="win namebox">
		<div class="titlebar">
			<ui-image src="basic_interface/titlebar_mid.bmp"></ui-image>
			<span class="title name_title">创建公会</span>
			<div class="right">
				<ui-button
					class="base btn_x2"
					bg="basic_interface/sys_close_off.bmp"
					hover="basic_interface/sys_close_on.bmp"
				></ui-button>
			</div>
			<div class="clear"></div>
		</div>
		<div class="body">
			<div class="label name_label">公会名称</div>
			<input type="text" class="guildname" maxlength="23" />
			<div class="btns">
				<button class="btn btn_ok" type="button">确定</button>
				<button class="btn btn_cancel" type="button">取消</button>
			</div>
		</div>
	</div>
</div>
