<div id="Storage">
	<div class="titlebar">
		<ui-image src="basic_interface/titlebar_mid.bmp"></ui-image>
		<div class="left">
			<span class="text">仓库</span>
		</div>
		<div class="clear"></div>
	</div>
	<div class="overlay"></div>
	<div class="panel">
		<table>
			<tr>
				<td
					class="tabs"
					rowspan="2"
				>
					<button class="item">消耗</button>
					<button class="kafra">现金</button>
					<button class="armor">防具</button>
					<button class="arms">武器</button>
					<button class="ammo">弹药</button>
					<button class="card">卡片</button>
					<button class="etc">其他</button>
				</td>
				<td class="container">
					<div class="content" data-background="basic_interface/itemwin_mid.bmp"></div>
				</td>
			</tr>
			<tr>
				<td class="footer" data-background="basic_interface/btnbar_mid2.bmp">
					<span class="current">0</span>/<span class="limit">0</span>
					<ui-button
						class="close"
						bg="btn_close.bmp"
						hover="btn_close_a.bmp"
						down="btn_close_b.bmp"
					></ui-button>
					<button class="extend" data-background="btn_resize.bmp"></button>
				</td>
			</tr>
		</table>
	</div>
</div>
