<div id="ShortCutOption" class="pt-page-fadeIn1">
	<div class="border">
		<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
			<div class="left"><span class="text">快捷键设置窗口</span></div>

			<div class="right">
				<button
					class="base close"
					data-background="basic_interface/sys_close_off.bmp"
					data-hover="basic_interface/sys_close_on.bmp"
				></button>
			</div>

			<div class="clear"></div>
		</div>

		<div class="tabs">
			<button class="t_skillbar selectedtab" data-index="t_skillbar">技能栏</button
			><button class="t_ui" data-index="t_ui">界面</button
			><button class="t_macro" data-index="t_macro">宏</button
			><button class="t_gamepad" data-index="t_gamepad">手柄</button>
		</div>
		<div class="panel">
			<div class="content t_skillbar selectedtab">
				<table border="1" cellspacing="0" bordercolor="#aaa">
					<tbody>
						<tr>
							<td>技能栏 1-1</td>
							<td data-button="F1_1" class="customize"></td>
							<td>技能栏 2-1</td>
							<td data-button="F2_1" class="customize"></td>
						</tr>
						<tr>
							<td>技能栏 1-2</td>
							<td data-button="F1_2" class="customize"></td>
							<td>技能栏 2-2</td>
							<td data-button="F2_2" class="customize"></td>
						</tr>
						<tr>
							<td>技能栏 1-3</td>
							<td data-button="F1_3" class="customize"></td>
							<td>技能栏 2-3</td>
							<td data-button="F2_3" class="customize"></td>
						</tr>
						<tr>
							<td>技能栏 1-4</td>
							<td data-button="F1_4" class="customize"></td>
							<td>技能栏 2-4</td>
							<td data-button="F2_4" class="customize"></td>
						</tr>
						<tr>
							<td>技能栏 1-5</td>
							<td data-button="F1_5" class="customize"></td>
							<td>技能栏 2-5</td>
							<td data-button="F2_5" class="customize"></td>
						</tr>
						<tr>
							<td>技能栏 1-6</td>
							<td data-button="F1_6" class="customize"></td>
							<td>技能栏 2-6</td>
							<td data-button="F2_6" class="customize"></td>
						</tr>
						<tr>
							<td>技能栏 1-7</td>
							<td data-button="F1_7" class="customize"></td>
							<td>技能栏 2-7</td>
							<td data-button="F2_7" class="customize"></td>
						</tr>
						<tr>
							<td>技能栏 1-8</td>
							<td data-button="F1_8" class="customize"></td>
							<td>技能栏 2-8</td>
							<td data-button="F2_8" class="customize"></td>
						</tr>
						<tr>
							<td>技能栏 1-9</td>
							<td data-button="F1_9" class="customize"></td>
							<td>技能栏 2-9</td>
							<td data-button="F2_9" class="customize"></td>
						</tr>
						<tr>
							<td>技能栏 3-1</td>
							<td data-button="F3_1" class="customize"></td>
							<td>技能栏 4-1</td>
							<td data-button="F4_1" class="customize"></td>
						</tr>
						<tr>
							<td>技能栏 3-2</td>
							<td data-button="F3_2" class="customize"></td>
							<td>技能栏 4-2</td>
							<td data-button="F4_2" class="customize"></td>
						</tr>
						<tr>
							<td>技能栏 3-3</td>
							<td data-button="F3_3" class="customize"></td>
							<td>技能栏 4-3</td>
							<td data-button="F4_3" class="customize"></td>
						</tr>
						<tr>
							<td>技能栏 3-4</td>
							<td data-button="F3_4" class="customize"></td>
							<td>技能栏 4-4</td>
							<td data-button="F4_4" class="customize"></td>
						</tr>
						<tr>
							<td>技能栏 3-5</td>
							<td data-button="F3_5" class="customize"></td>
							<td>技能栏 4-5</td>
							<td data-button="F4_5" class="customize"></td>
						</tr>
						<tr>
							<td>技能栏 3-6</td>
							<td data-button="F3_6" class="customize"></td>
							<td>技能栏 4-6</td>
							<td data-button="F4_6" class="customize"></td>
						</tr>
						<tr>
							<td>技能栏 3-7</td>
							<td data-button="F3_7" class="customize"></td>
							<td>技能栏 4-7</td>
							<td data-button="F4_7" class="customize"></td>
						</tr>
						<tr>
							<td>技能栏 3-8</td>
							<td data-button="F3_8" class="customize"></td>
							<td>技能栏 4-8</td>
							<td data-button="F4_8" class="customize"></td>
						</tr>
						<tr>
							<td>技能栏 3-9</td>
							<td data-button="F3_9" class="customize"></td>
							<td>技能栏 4-9</td>
							<td data-button="F4_9" class="customize"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="content t_ui">
				<table border="1" cellspacing="0" bordercolor="#aaa">
					<tbody>
						<tr>
							<td>基本信息</td>
							<td data-button="BasicInfo" class="customize"></td>
							<td>角色信息</td>
							<td data-button="Equipment" class="customize"></td>
						</tr>
						<tr>
							<td>技能列表</td>
							<td data-button="SkillList" class="customize"></td>
							<td>表情列表</td>
							<td data-button="Emotions" class="customize"></td>
						</tr>
						<tr>
							<td>好友列表</td>
							<td data-button="Friends" class="customize"></td>
							<td>队伍窗口</td>
							<td data-button="Party" class="customize"></td>
						</tr>
						<tr>
							<td>宠物信息</td>
							<td data-button="PetInfo" class="customize"></td>
							<td>聊天室</td>
							<td data-button="ChatRoom" class="customize"></td>
						</tr>
						<tr>
							<td>手推车窗口</td>
							<td data-button="PushCart" class="customize"></td>
							<td>物品窗口</td>
							<td data-button="Inventory" class="customize"></td>
						</tr>
						<tr>
							<td>世界地图</td>
							<td data-button="WorldMap" class="customize"></td>
							<td>公会信息</td>
							<td data-button="Guild" class="customize"></td>
						</tr>
						<tr>
							<td>傀儡信息</td>
							<td data-button="HomunInfo" class="customize"></td>
							<td>佣兵信息</td>
							<td data-button="MercInfo" class="customize"></td>
						</tr>
						<tr>
							<td>傀儡状态</td>
							<td data-button="HomunState" class="customize"></td>
							<td>佣兵状态</td>
							<td data-button="MercState" class="customize"></td>
						</tr>
						<tr>
							<td>坐下/站立</td>
							<td data-button="Sit" class="customize"></td>
							<td>快捷键</td>
							<td data-button="ShortCuts" class="customize"></td>
						</tr>
						<tr>
							<td>聊天栏大小</td>
							<td data-button="ChatSize" class="customize"></td>
							<td>技能栏大小</td>
							<td data-button="SkillBarSize" class="customize"></td>
						</tr>
						<tr>
							<td>任务</td>
							<td data-button="Quest" class="customize"></td>
							<td>银行</td>
							<td data-button="Bank" class="customize"></td>
						</tr>
						<!--<tr>
                     <td>MobileUI</td>
                     <td data-button="M_UI" class="customize"></td>
                     <td>MUi-Toggle</td>
                     <td data-button="M_Toggle" class="customize"></td>
                  </tr>
                  <tr>
                     <td>MUi-TG</td>
                     <td data-button="M_Targeting" class="customize"></td>
                     <td>MUi-AT</td>
                     <td data-button="M_AutoTarget" class="customize"></td>
                  </tr>
                  <tr>
                     <td>MUi-ATK</td>
                     <td data-button="M_Attack" class="customize"></td>
                  </tr>-->
					</tbody>
				</table>
			</div>
			<div class="content t_macro">
				<table border="1" cellspacing="0" bordercolor="#aaa">
					<tbody>
						<tr>
							<td>宏 1</td>
							<td data-button="Macro1" class="customize"></td>
							<td>标记 1</td>
							<td data-button="Flag1" class="customize"></td>
						</tr>
						<tr>
							<td>宏 2</td>
							<td data-button="Macro2" class="customize"></td>
							<td>标记 2</td>
							<td data-button="Flag2" class="customize"></td>
						</tr>
						<tr>
							<td>宏 3</td>
							<td data-button="Macro3" class="customize"></td>
							<td>标记 3</td>
							<td data-button="Flag3" class="customize"></td>
						</tr>
						<tr>
							<td>宏 4</td>
							<td data-button="Macro4" class="customize"></td>
							<td>标记 4</td>
							<td data-button="Flag4" class="customize"></td>
						</tr>
						<tr>
							<td>宏 5</td>
							<td data-button="Macro5" class="customize"></td>
							<td>标记 5</td>
							<td data-button="Flag5" class="customize"></td>
						</tr>
						<tr>
							<td>宏 6</td>
							<td data-button="Macro6" class="customize"></td>
							<td>标记 6</td>
							<td data-button="Flag6" class="customize"></td>
						</tr>
						<tr>
							<td>宏 7</td>
							<td data-button="Macro7" class="customize"></td>
							<td>标记 7</td>
							<td data-button="Flag7" class="customize"></td>
						</tr>
						<tr>
							<td>宏 8</td>
							<td data-button="Macro8" class="customize"></td>
							<td>标记 8</td>
							<td data-button="Flag8" class="customize"></td>
						</tr>
						<tr>
							<td>宏 9</td>
							<td data-button="Macro9" class="customize"></td>
							<td>标记 9</td>
							<td data-button="Flag9" class="customize"></td>
						</tr>
						<tr>
							<td>宏 10</td>
							<td data-button="Macro10" class="customize"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="content t_gamepad">
				<table border="1" cellspacing="0" bordercolor="#aaa">
					<tbody>
						<tr title="Define how targets are selected in combat">
							<td>攻击目标模式</td>
							<td>
								<select class="attackTargetMode">
									<option value="0">关闭</option>
									<option value="1">最低 HP</option>
									<option value="2">最近</option>
								</select>
							</td>
						</tr>
						<tr title="Choose how skills are cast with gamepad">
							<td>快速施法模式</td>
							<td>
								<select class="joyQuick">
									<option value="0">关闭</option>
									<option value="1">释放模式</option>
									<option value="2">即时模式</option>
								</select>
							</td>
						</tr>
						<tr title="Adjust mouse movement sensitivity for R3 stick">
							<td>鼠标移动</td>
							<td>
								<label style="display: inline-block; width: 90px">
									灵敏度：
									<input
										class="joySense"
										type="range"
										value="25.0"
										min="1.0"
										max="100.0"
										step="1.0"
										style="width: 90%; vertical-align: middle"
									/>
								</label>
							</td>
						</tr>
						<tr title="Disable mouse input from gamepad for UI interaction">
							<td>禁用虚拟鼠标</td>
							<td>
								<input type="checkbox" class="joyDisableVirtualMouse" />
							</td>
						</tr>
						<tr title="Swap L3 and R3 stick functions">
							<td>交换 L3-R3 摇杆</td>
							<td>
								<input type="checkbox" class="joyReverseStick" />
							</td>
						</tr>
						<tr title="Automatically hide UI during gameplay mouse movement">
							<td>自动隐藏界面</td>
							<td>
								<input type="checkbox" class="joyAutoHide" />
							</td>
						</tr>
						<tr title="Set deadzone threshold for analog sticks">
							<td>轴阈值</td>
							<td>
								<label style="display: inline-block; width: 90px">
									死区：
									<input
										class="joyDeadline"
										type="range"
										value="0.10"
										min="0.0"
										max="1.0"
										step="0.1"
										style="width: 90%; vertical-align: middle"
									/>
								</label>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<button
				class="button reset left"
				data-background="btn_reset.bmp"
				data-hover="btn_reset_a.bmp"
				data-down="btn_reset_b.bmp"
			></button>
			<button
				class="button ok right"
				data-background="btn_ok.bmp"
				data-hover="btn_ok_a.bmp"
				data-down="btn_ok_b.bmp"
			></button>
			<button
				class="button cancel right"
				data-background="btn_cancel.bmp"
				data-hover="btn_cancel_a.bmp"
				data-down="btn_cancel_b.bmp"
			></button>
			<button
				class="button close right"
				data-background="btn_close.bmp"
				data-hover="btn_close_a.bmp"
				data-down="btn_close_b.bmp"
			></button>
		</div>
	</div>
</div>
