<div id="CaptchaAnswer">
	<div class="titlebar">
		<ui-image src="basic_interface/titlebar_mid.bmp"></ui-image>
		<div class="left">
			<ui-button
				class="base"
				bg="basic_interface/sys_base_off.bmp"
				hover="basic_interface/sys_base_on.bmp"
			></ui-button>
		</div>
		<div class="right"></div>
		<div class="clear"></div>
	</div>
	<div class="container">
		<div class="information">
			<div class="message">
				<ui-text msg="2883">您好，系统正在监测非法软件。</ui-text><br />
				<ui-text msg="2884">请在规定时间内输入下方文字。</ui-text><br />
				<ui-text msg="2885">如果连续三次输入错误，您将被封禁</ui-text><br />
				<span class="error_text"></span>
			</div>
			<div class="timer_bar_bg">
				<div class="timer_bar_fill"></div>
			</div>

			<div class="status">
				<span class="retry_count">剩余机会：3</span>
				<span class="timer_text">00:59</span>
			</div>
		</div>
		<div class="preview_box"></div>
		<div class="controls">
			<input type="text" class="answer_input" placeholder="验证码答案" />
			<ui-button class="btn ok" bg="btn_ok.bmp" hover="btn_ok_a.bmp" down="btn_ok_b.bmp"></ui-button>
		</div>
	</div>
</div>
