<div id="PartyHelper">
	<div class="titlebar">
		<ui-image src="basic_interface/titlebar_mid.bmp"></ui-image>
		<div class="left">
			<ui-button
				class="base"
				bg="basic_interface/sys_base_off.bmp"
				hover="basic_interface/sys_base_on.bmp"
			></ui-button>
			<span class="text setup"><ui-text msg="291">队伍设置</ui-text></span>
			<span class="text friend-setup"><ui-text msg="355">好友设置</ui-text></span>
			<span class="text create"><ui-text msg="2054">创建队伍</ui-text></span>
			<span class="text invite"><ui-text msg="2056">创建队伍</ui-text></span>
		</div>
		<div class="right">
			<ui-button
				class="base close"
				bg="basic_interface/sys_close_off.bmp"
				hover="basic_interface/sys_close_on.bmp"
			></ui-button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="content party-content">
		<div class="create invite">
			<p>
				<span class="create"><ui-text msg="2057">队伍名称：</ui-text></span>
				<span class="invite"><ui-text msg="2058">玩家名称：</ui-text></span>
			</p>
			<input type="text" class="name" value="" />
		</div>
		<div class="exp_share setup">
			<p><ui-text msg="292">经验值分配方式</ui-text></p>
			<button class="on" data-value="0">
				<ui-image src="radiobtn_on.bmp"></ui-image><ui-text msg="287">各自获得</ui-text>
			</button>
			<button class="off" data-value="1">
				<ui-image src="radiobtn_off.bmp"></ui-image><ui-text msg="288">平均分配</ui-text>
			</button>
		</div>
		<div class="item_share setup create">
			<p><ui-text msg="293">物品分配方式</ui-text></p>
			<button class="on" data-value="0">
				<ui-image src="radiobtn_on.bmp"></ui-image><ui-text msg="289">各自获得</ui-text>
			</button>
			<button class="off" data-value="1">
				<ui-image src="radiobtn_off.bmp"></ui-image><ui-text msg="290">队伍分配</ui-text>
			</button>
		</div>
		<div class="item_sharing_type setup create">
			<p><ui-text msg="738">物品分配类型</ui-text></p>
			<button class="on" data-value="0">
				<ui-image src="radiobtn_on.bmp"></ui-image><ui-text msg="739">个人</ui-text>
			</button>
			<button class="off" data-value="1">
				<ui-image src="radiobtn_off.bmp"></ui-image><ui-text msg="740">共享</ui-text>
			</button>
		</div>
	</div>
	<div class="content friend-content">
		<div class="friend-setup">
			<div class="open1to1Stranger setting-row">
				<button class="on" data-value="1"><ui-image src="checkbox_1.bmp"></ui-image></button>
				<button class="off" data-value="0"><ui-image src="checkbox_0.bmp"></ui-image></button>
				<span><ui-text msg="361">允许陌生人之间一对一聊天</ui-text></span>
			</div>
			<div class="open1to1Friend setting-row">
				<button class="on" data-value="1"><ui-image src="checkbox_1.bmp"></ui-image></button>
				<button class="off" data-value="0"><ui-image src="checkbox_0.bmp"></ui-image></button>
				<span><ui-text msg="359">允许好友之间一对一聊天</ui-text></span>
			</div>
			<div class="alarm1to1 setting-row">
				<button class="on" data-value="1"><ui-image src="checkbox_1.bmp"></ui-image></button>
				<button class="off" data-value="0"><ui-image src="checkbox_0.bmp"></ui-image></button>
				<span><ui-text msg="362">收到一对一聊天时提醒</ui-text></span>
			</div>
		</div>
	</div>
	<div class="footer">
		<ui-image src="basic_interface/btnbar_mid2.bmp"></ui-image>
		<ui-button
			class="btn ok"
			bg="basic_interface/btn_ok.bmp"
			hover="basic_interface/btn_ok_a.bmp"
			down="basic_interface/btn_ok_b.bmp"
		></ui-button>
		<ui-button class="btn cancel" bg="btn_cancel.bmp" hover="btn_cancel_a.bmp" down="btn_cancel_b.bmp"></ui-button>
	</div>
</div>
