<div id="Reputation">
	<div class="titlebar">
		<ui-image src="basic_interface/titlebar_mid.bmp"></ui-image>
		<div class="left">
			<ui-button
				class="base"
				bg="basic_interface/sys_base_off.bmp"
				hover="basic_interface/sys_base_on.bmp"
			></ui-button>
			<span class="text">声望状态</span>
		</div>
		<div class="right">
			<ui-button
				class="base close" aria-label="关闭" title="关闭"
				bg="basic_interface/sys_close_off.bmp"
				hover="basic_interface/sys_close_on.bmp"
			></ui-button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="overall_container">
		<div class="header">
			<div class="select-wrapper">
				<select id="repute_groups" class="rep_group_selector" aria-label="声望分类">
					<option value="all">全部</option>
				</select>
				<ui-button
					class="select-arrow"
					bg="basic_interface/txtbox_btn_a.bmp"
					hover="basic_interface/txtbox_btn_b.bmp"
					down="basic_interface/txtbox_btn_c.bmp"
				></ui-button>
			</div>
			<div class="search_wrapper">
				<input class="rep_group_searchbar" type="text" placeholder="搜索声望名称" aria-label="搜索声望名称" />
				<button type="button" class="search">搜索</button>
			</div>
			<div class="rep_group_total_points_wrapper">
				<div class="rep_group_text">合计：</div>
				<div class="rep_indicator"></div>
				<div class="rep_group_total_points_value"></div>
			</div>
		</div>
		<div class="content"></div>
		<div class="paginator">
			<ui-button class="page_prev" aria-label="上一页" title="上一页" bg="reputation/arrow_prev.bmp"></ui-button>
			<span class="page_text">1 / 1</span>
			<ui-button class="page_next" aria-label="下一页" title="下一页" bg="reputation/arrow_next.bmp"></ui-button>
		</div>
		<div class="footer">
			<ui-image src="basic_interface/btnbar_mid2.bmp"></ui-image>
			<button type="button" class="big_btn_close">关闭</button>
		</div>
	</div>
</div>
